<h1 id="les-midis-de-la-bidouille-de-la-donnée-à-sa-visualisation">Les midis de la bidouille (de la donnée à sa visualisation)</h1>
<p>Inria Bordeaux Sud-ouest</p>
<p>herve.mathieu@inria.fr</p>
<h2 id="sommaire">Sommaire</h2>
<ul>
<li>Présentation des technologies</li>
<li>Serveurs mis en place</li>
<li>Exemples</li>
<li>Travaux pratiques (A vous de jouer)</li>
</ul>
<hr />
<h2 id="présentation-des-technologies">Présentation des technologies</h2>
<p>ELK stack E — Elasticsearch, L — Logstash, K — Kibana</p>
<ul>
<li>Logstash is an open source, server-side data processing pipeline</li>
<li>Elasticsearch is a distributed, RESTful search and analytics engine (NoSQL)</li>
<li>Kibana is an open source analytics and visualisation platform</li>
</ul>
<p><img src="https://cdn-images-1.medium.com/max/1600/1*OHP01Lidop3GQZbnwg9s4Q.jpeg" alt="ELK" width="400"/></p>
<hr />
<h2 id="serveurs-mis-en-place">Serveurs mis en place</h2>
<h3 id="installation-sur-réseau-inria">Installation sur réseau Inria</h3>
<p>https://kibana.bordeaux.inria.fr/</p>
<p>https://elasticsearch.bordeaux.inria.fr/</p>
<p>Aucun système d’authentification n’est mis en place, donc l’ensemble des données est accessible (en lecture et en écriture) par toute personne accédant aux serveurs.</p>
<p>Règle d’usage : afin d’éviter tout écrasement accidentel de données et permette aux administrateurs de tracer l’usage des serveurs, il est demandé aux utilisateurs de préfixer leur index (ElasticSearch indices) par nom_de_l_equipe:sujet_de_l_etude (et éventuellement des sous-objet séparés par : ).</p>
<p><strong>Cas particulier pour les midis de la bidouille : mdb:nom_de_famille</strong></p>
<hr />
<h3 id="possibilité-dune-installation-en-local-sur-sa-machine">Possibilité d’une installation en local sur sa machine</h3>
<h4 id="elasticsearch">Elasticsearch</h4>
<ol type="1">
<li>https://www.elastic.co/downloads/elasticsearch : download elasticsearch-6.6.1.tar.gz (voir version actuelle)</li>
<li>gunzip elasticsearch-6.6.1.tar.gz</li>
<li>cd elasticsearch-6.6.1; ./bin/elasticsearch</li>
<li>in your favorite web browser: http://localhost:9200/</li>
</ol>
<h4 id="kibana">Kibana</h4>
<ol type="1">
<li>https://www.elastic.co/downloads/kibana : download kibana-6.6.1.tar.gz (voir version actuelle)</li>
<li>gunzip kibana-6.6.1.tar.gz</li>
<li>cd kibana-6.6.1; ./bin/kibana</li>
<li>in your favorite web browser: http://localhost:5601/ launches the Kibana interface</li>
</ol>
<hr />
<h2 id="exemples">Exemples</h2>
<p>Typologie des exemples :</p>
<ol type="1">
<li>des données sous forme : csv, json, texte</li>
<li>un programme en python pour peupler la base Elasticsearch</li>
<li>des propositions de visualisations sur Kibana</li>
</ol>
<p>exemples :</p>
<ul>
<li>nuage de mot (texte)</li>
<li>commit sur un projet git (curl, json)</li>
<li>données temporelles de plafrim (csv)</li>
<li>données météo (json, TP mdb)</li>
</ul>
<hr />
<h2 id="a-vous-de-jouer">A vous de jouer</h2>
<hr />
<h3 id="récupération-des-exemples">Récupération des exemples</h3>
<ul>
<li>mkdir mdb_elk; cd mdb_elk</li>
<li>git clone git@gitlab.inria.fr:sed-bso/elasticsearch_examples.git</li>
</ul>
<h3 id="meteo_mdb-contexte">meteo_mdb (contexte)</h3>
<p>Des données météorologiques accessibles :</p>
<p>https://www.infoclimat.fr/api-previsions-meteo.html?id=07510&amp;cntry=STA</p>
<p>Pour visualiser le json :</p>
<pre><code>python -m json.tool meteo.json</code></pre>
<hr />
<h3 id="proposition-denvironnement-de-travail-virtuel-dans-un-terminal">Proposition d’environnement de travail virtuel dans un terminal :</h3>
<ul>
<li>sudo apt install virtualenv</li>
<li>mkdir virtualenv; cd virtualenv;</li>
<li>virtualenv -p python3 env</li>
<li>source virtualenv/env/bin/activate</li>
</ul>
<p>Pour les paquets python requis : * pip install elasticsearch * pip install requests</p>
<p>si problème IPV4/IPV6 :</p>
<pre><code>$ sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1
$ sudo sysctl -w net.ipv6.conf.default.disable_ipv6=1</code></pre>
<hr />
<h3 id="code-à-compléter-meteo.py">Code à compléter (meteo.py)</h3>
<h4 id="es_index-unique">es_index unique</h4>
<p>es_index = ‘mdb:mon_nom’</p>
<h4 id="mapping_input">mapping_input</h4>
<p>mapping : https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html</p>
<p>Les possibilités : text, keyword, date, long, double, boolean, ip</p>
<p>cas particulier des dates : https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html#built-in-date-formats</p>
<p>Choisir les champs que vous souhaitez afficher</p>
<p>Tester la lecture du JSON avant d’envoyer les données sur Elasticsearch</p>
<hr />
<h3 id="kibana-1">Kibana</h3>
<p>Une fois les données envoyées avec succès</p>
<p>Aller sur kibana.bordeaux.inria.fr</p>
<h4 id="index-kibana">index Kibana</h4>
<p>Management -&gt; Kibana -&gt; Index Patterns -&gt; Create index pattern</p>
<p>step 1/2 : index pattern : mettre le nom de son index</p>
<p>step 2/2 : option (date)</p>
<h4 id="visualisation">Visualisation</h4>
<p>plus(+) -&gt; Line -&gt; mon index</p>
<p>Y-axis -&gt; Max -&gt; pression</p>
<p>X-axis -&gt; Date Histogram -&gt; date -&gt; Hourly</p>
<p>En haut à droite : penser à changer le fenêtre temporelle -&gt; Last 7 days</p>
<hr />
<h2 id="pour-aller-plus-loin">Pour aller plus loin</h2>
<ul>
<li>Tableau de bord (agrégat de visualisation)</li>
<li>Logstash (pas essayé)</li>
<li>Vega (kibana en script) : kibana -&gt; visualise -&gt; TADaaM:demo_git_vega</li>
</ul>
<h2 id="sources-liens">Sources (liens)</h2>
<ul>
<li>https://www.elastic.co/</li>
<li>https://medium.freecodecamp.org/how-to-use-elasticsearch-logstash-and-kibana-to-visualise-logs-in-python-in-realtime-acaab281c9de</li>
<li>https://yhatt.github.io/marp/ (markdown vers présentation PDF)</li>
</ul>
