/*********************************************
 * Title page
 *********************************************/
.reveal h1.title {
  color: #164a6d;
  font-size: 2em;
  text-transform: none;
}

div.title_titlepage {
  position: absolute;
  top: 50px;
  left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  margin-bottom: 0.4em;
  text-align: center;
}
div.authors_titlepage {
  position: absolute;
  top: 330px;
  left: 350px;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
}
div.affiliation_titlepage {
  position: absolute;
  top: 530px;
  left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
}
div.date_titlepage {
  position: absolute;
  top: 700px;
  left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
}
div.logo1_titlepage {
  position: absolute;
  top: 650px;
  left: 500px;
}
div.logo2_titlepage {
  position: absolute;
  top: 650px;
  left: 750px;
}

div.logo3_titlepage {
  position: absolute;
  bottom: 50px;
  left: 800px;
}



/*********************************************
 * Two columns trick
 *********************************************/
.container{
    display: flex;
}
.col{
    flex: 1;
    text-align: center;
}

#left {
	margin: 10px 0 15px 20px;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5;
}
