@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400");

/*********************************************
 * GENERAL / BODY
 *********************************************/
.body {
  background-color: #222;
  color: #ECEFF1;
}
.reveal {
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 300;
}
.reveal ul {
  margin-bottom: 0.3em;
}
.reveal section img {
  display: block;
  margin-left: 3%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.90);
  border: none;
  outline: outset rgb(128, 128, 128);
}
.reveal .slides {
  text-align: justify;
}
.reveal table th, .reveal table td {
    border-bottom: 2px solid;

}
/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #ECEFF1;
  line-height: 1.3;
  text-transform: none;
  font-weight: 700;
  word-wrap: break-word;
}
.reveal h1 {
  font-size: 2em;
  margin-bottom: 0.4em;
  margin-top: 0em;
}
.reveal h2 {
  font-size: 1.5em;
  margin-bottom: 0.4em;
  margin-top: 1em;
}
.reveal h3 {
  margin-bottom: 0.4em;
  font-size: 1.25em;
}
.reveal h4 {
  font-size: 1em;
}
.reveal h5 {
  color: #00BFFF;
  font-size: 1em;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00BFFF;
  text-decoration: none;
  transition: color .1s ease;
}
.reveal a:hover {
  color: #D5F6D7;
  text-shadow: none;
  border: none;
}
/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #00BFFF;
}
.reveal .slide-number {
  color: #00BFFF;
  font-size: 70%;
  font-weight: 700;
}
/*********************************************
* PROGRESS BAR
*********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
/*********************************************
 * CODE BLOCKS
 *********************************************/
.reveal code {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.03);
}
.reveal pre, .reveal pre code {
  font-size: 25.5px;
  line-height: 1.3em;
  max-height: 765px;
  word-wrap: break-word;
  box-shadow: none;
}
