<style>
  /*
  .vis-item {
  border-color: orange;
  background-color: yellow;
  }
  */
  /* alternating column backgrounds */
  .vis-time-axis .vis-grid.vis-odd {
      background: #f5f5f5;
  }
  .vis-item.vis-background.negative {
      background-color: rgba(255, 0, 0, 0.2);
  }
  .vis-item.vis-background.positive {
      background-color: rgba(105, 255, 98, 0.2);
  }
  .vis-item.vis-background.marker {
      border-left: 2px solid green;
  }
  .vis-item .vis-item-overflow {
      overflow: visible;
  }
  .vis-item {
      color: black;
      background-color: greenyellow;
      border-color: greenyellow;
  }
  .vis-item.leader {
      color: black;
      background-color: gold;
      border-color: gold;
  }
  .vis-item.funding {
      color: black;
      background-color: pink;
      border-color: pink;
  }
</style>
