<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "index.xml" | absURL }}">
		<link rel="canonical" href="{{ .Permalink }}">
		<!-- the Story logo is a square with rounded corners interlocked with a section symbol in Bodoni 72 Book font -->
		<link rel="shortcut icon" type="image/png" href="{{ "logo-sed.png" | absURL }}">
		{{ with .Description }}<meta name="description" content="{{. | markdownify }}">{{ end }}
		{{ with .Keywords }}<meta name="keywords" content="{{.}}">{{ end }}
		{{ hugo.Generator }}

		{{ block "social" . }}
		{{ end }}

		{{ block "layout" . }}
		<link rel="stylesheet" href="{{ "css/tachyons.min.css" | absURL }}" />
		{{- if .Site.Params.less -}}
		<link rel="stylesheet/less" type="text/css" href="{{ "css/story.less" | absURL }}" />
		<link rel="stylesheet/less" type="text/css" href="{{ "css/descartes.less" | absURL }}" />
		<script type="text/javascript" src="{{ "js/less.min.js" | absURL }}"></script>
		{{ else }}
		<link rel="stylesheet" href="{{ "css/story.css" | absURL }}" />
		<link rel="stylesheet" href="{{ "css/descartes.css" | absURL }}" />
		{{ end }}
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i|Quattrocento:400,700|Spectral:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
		{{ end }}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{{ if or (in .Site.Params.classes "feature-highlight") (in .Params.classes "feature-highlight") -}}
			{{- if not (or (in .Site.Params.classes "feature-nohighlight") (in .Params.classes "feature-nohighlight") ) -}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
			{{- end -}}
		{{- end -}}
		{{ if or (in .Site.Params.classes "feature-math") (in .Params.classes "feature-math") -}}
			{{- if not (or (in .Site.Params.classes "feature-nomath") (in .Params.classes "feature-nomath") ) -}}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.css" integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/katex@0.9.0/dist/katex.min.js" integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq" crossorigin="anonymous"></script>
		<script src="{{ "js/auto-render.min.js" | absURL }}"></script> <!-- for KaTeX -->
			{{- end -}}
		{{- end -}}
		{{ if or (in .Site.Params.classes "feature-music") (in .Params.classes "feature-music") -}}
			{{- if not (or (in .Site.Params.classes "feature-nomusic") (in .Params.classes "feature-nomusic") ) -}}
		<script src="{{ "js/abcjs_basic_5.6.3-min.js" | absURL }}"></script>
			{{- end -}}
		{{- end -}}
		{{ with .Site.Params.head }}{{ range . }}
		{{ . | safeHTML }}{{ end }}{{ end }}
		<script src="{{ "js/story.js" | absURL }}"></script>

	</head>
	<body class="ma0 bg-white {{ with .Section }}section-{{ . }}{{ end }} page-kind-{{ .Kind }} is-page-{{ .IsPage }} {{ with .Site.Params.classes }}{{ range . }} {{ . }}{{ end }}{{ end }}{{ with .Params.classes }}{{ range . }} {{ . }}{{ end }}{{ end }}">
		{{ block "header" . }}
		<!--
		You can set the title and header image in the "title/image" parameters of
		the _index.md for the section.  For a post, you can set the header image
		with the "image" parameter in front matter. You can disable these
		behaviors with the feature-nohdr class in the site config file or front
		matter of an individual post.
		-->
		{{- $hdr := cond (or (in .Site.Params.classes "feature-nohdr") (in .Params.classes "feature-nohdr")) false true -}}
		<header class="cover bg-top" {{ if $hdr }}style="background-image: url('{{ absURL (default "img/default-header-img-2.jpg" .Params.image) }}'); background-position: center;"{{ end }}>
			<div class="{{ cond $hdr "bg-white-0 bt" "" }}">

				<nav class="hide-print sans-serif {{ cond $hdr "" "bg-black" }} border-box pa3 ph5-l">
					<a href="{{ .Site.BaseURL }}" title="Home">
						<img src="{{ "logo-sed.png" | absURL }}" class="w2 h2 br-100" alt="{{ .Site.Title }}" />
					</a>
					<div class="fr h2 pv2 tr">
						{{- range .Site.Menus.main }}
						<a class="link f5 ml2 dim near-white" href="{{ .URL }}">{{ .Name }}</a>
						{{- end }}
						{{- range .Site.Menus.social }}
						<a class="link f5 ml2 dim near-white" href="{{ .URL }}"><i class="{{ .Title }}"></i></a>
						{{- end }}
						<!-- <a class="link f5 ml2 dim near-white fas fa-rss-square" href="{{ "index.xml" | absURL }}" title="RSS Feed"></a>
						<a class="link f5 ml2 dim near-white fas fa-search" href="{{ "search/" | absURL }}" role="search" title="Search"></a> -->
					</div>
				</nav>

				<div id="hdr" class="tc-l {{ cond $hdr "pv4-ns pv5-l" "" }} pv2 ph3 ph4-ns">
					<h1 class="{{ cond $hdr "near-white mt1-ns" "" }} f2 fw3 mb0 mt0 lh-title">{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}</h1>
					<h2 class="{{ cond $hdr "near-white mt3-l mb4-l" "" }} fw1 f6 f3-l measure-wide-l center lh-copy mt2 mb3">
						<!-- You can put a subtitle here in _index.md parameters, or it'll get
						filled in with date and categories if it's a post -->
						{{ if .Date}}
							{{ if .IsPage }}
								{{ if eq .Section "talks" }}
									Presented
									<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
										{{- .Date.Format "January 2, 2006" -}}
									</time>
									at <a class="no-underline category {{ cond $hdr "near-white dim" "black hover-gray" }}" href="{{ .Params.site }}">{{ .Params.event }}</a>
								{{ else }}
									Published
									<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
										{{- .Date.Format "Jan 2, 2006" -}}
									</time>
									<span class="display-print">by {{ .Params.author | default .Site.Params.author }}</span>
									{{ range $idx, $cat := .Params.categories }}{{ if gt $idx 0 }}, {{ end }}{{ if eq $idx 0 }} in {{ end }}<a href="{{ "categories" | absURL }}/{{ . | urlize }}" class="no-underline category {{ cond $hdr "near-white dim" "black hover-gray" }}">{{ . | title }}</a>{{ end }}
									<span class="display-print">at {{ .Permalink }}</span>
								{{ end }}
							{{ else }}
								{{ with .Params.subtitle }}{{ . | markdownify }}{{ end }}
							{{ end }}
						{{ end }}
					</h2>
				</div>

				<!-- if there's a "credits" parameter in front matter there'll be a camera icon here -->
				{{ if $hdr }}
				{{ with .Params.credit }}
				<div class="w-100 cf hide-print">
					<a class="fr f6 ma0 pa2 link white-50 dim fas fa-camera" href="{{ . }}" title="Photo Credit"></a>
				</div>
				{{ end }}
				{{ end }}

			</div>
		</header>
		{{ end }}
		<main role="main">

                  {{ if .IsHome }}
                  <div id="role-du-sed" class="pa3 pa4-ns w-100 w-70-ns center">
                    <section class="w-100 mw8">
                      <div class="relative w-100">
	                <article>
		          <div class="db pv4 ph3 ph0-l no-underline dark-gray">
			    <div class="flex flex-column flex-row-ns">
                          <div class="w-100 w6-ns pl3-ns" style="text-align:justify">
                    <p>
	           Le <b>SED, service d'expérimentation et de développement</b>, du centre Inria de L'Université de Bordeaux et Pau, a pour mission de contribuer,
                   coordonner et soutenir l'implémentation logicielle et matérielle des travaux de recherche des membres scientifiques de l'inria.<br><br>
                   Entre autres, le service :
                   <ul>
                   <li> vient en support aux développements des logiciels scientifiques;</li>
                   <li> veille à diffuser les bonnes pratiques de développement logiciel et à fournir des formations aux outils associés;</li>
                   <li> contribue au maintien des plateformes expérimentales;</li>
                   <li> apporte son aide en partageant sa connaissance des solutions logicielles (développées dans et hors de l'Inria).</li>
                   </ul>
                    </p>
                  </div></div></div></article></div>
                  </section>
                  </div>
                  {{ end }}
		{{ block "main" . }}
		{{ end }}
		</main>
		{{ block "about" . }}
			{{ partial "about.html" . }}
		{{ end }}
		{{ block "pagination" . }}{{ end }}
		{{ block "footer" . }}
		<footer class="hide-print sans-serif f6 fw1 bg-black near-white bottom-0 w-100 pa3" role="contentinfo">
			<p class="w-50 fr tr">
			<a class="no-underline near-white" href="https://github.com/xaprb/story"><img class="dib" title="Made with Hugo and Story" alt="Story logo" src="{{ "img/story-logo-white.svg" | absURL }}" style="width: 1.5rem; height: 1.5rem" /></a>
			</p>
			<p class="w-50 near-white">
				&copy; {{ now.Format "2006" }} {{ with .Site.Params.author }}{{ . }}{{ end }}
			</p>
		</footer>
		{{ end }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{ with .Site.Params.foot }}{{ range . }}
	{{ . | safeHTML }}{{ end }}{{ end }}
	</body>
</html>
